/* header.css */

#header {
    background-color: #f8f9fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 10px 20px; 
}

.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.logo {
    font-size: 24px; 
    font-weight: bold;
    color: #343a40; 
}

.nav-links {
    list-style: none; 
    display: flex;
    gap: 15px; 
    align-items: center;
}

.nav-links .menu {
    display: flex;
    gap: 28px; 
}

.nav-links a {
    text-decoration: none; 
    color: #007bff; 
    font-size: 16px;
    cursor: pointer;
}

.nav-links a:hover {
    color: #0056b3; 
}

.hamburger {
    display: none; 
    font-size: 28px;
    cursor: pointer;
}

.nav-links input[type="checkbox"] {
    display: none; 
}

.dropdown {
    display: none; 
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    list-style: none;
    border-radius: 4px;
    margin-top: 10px;
}

.services:hover .dropdown {
    display: block; 
}

.dropdown li {
    padding: 5px 10px;
}

.dropdown li a {
    color: #343a40;
}

.dropdown li a:hover {
    color: #007bff;
}


@media (max-width: 768px) {
    .nav-links {
        flex-direction: column; 
        display: none;
    }

    .nav-links input[type="checkbox"]:checked ~ .menu {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .hamburger {
        display: block; 
    }

    .menu li {
        text-align: center; 
        padding: 10px 0; 
    }
}

@media (max-width: 480px) {
    .logo {
        font-size: 18px; 
    }

    .menu li a {
        font-size: 14px; 
    }
}